 <web-app>
	<servlet>
		<servlet-name>UserController</servlet-name>
		<servlet-class>xshop.app.UserControllerServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>UserController</servlet-name>
		<url-pattern>/adminaccess</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserController</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserController</servlet-name>
		<url-pattern>/error</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>CategoryController</servlet-name>
		<servlet-class>xshop.app.CategoryControllerServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>CategoryController</servlet-name>
		<url-pattern>/category</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CategoryController</servlet-name>
		<url-pattern>/categoryadd</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CategoryController</servlet-name>
		<url-pattern>/categoryedit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CategoryController</servlet-name>
		<url-pattern>/categorydelete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CategoryController</servlet-name>
		<url-pattern>/categorydetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CategoryController</servlet-name>
		<url-pattern>/categorysearch</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SupplierController</servlet-name>
		<servlet-class>xshop.app.SupplierControllerServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>SupplierController</servlet-name>
		<url-pattern>/supplier</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SupplierController</servlet-name>
		<url-pattern>/supplieradd</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SupplierController</servlet-name>
		<url-pattern>/supplieredit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SupplierController</servlet-name>
		<url-pattern>/supplierdelete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SupplierController</servlet-name>
		<url-pattern>/supplierdetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SupplierController</servlet-name>
		<url-pattern>/suppliersearch</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ProductController</servlet-name>
		<servlet-class>xshop.app.ProductControllerServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductController</servlet-name>
		<url-pattern>/product</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProductController</servlet-name>
		<url-pattern>/productadd</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProductController</servlet-name>
		<url-pattern>/productedit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProductController</servlet-name>
		<url-pattern>/productdelete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProductController</servlet-name>
		<url-pattern>/productdetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProductController</servlet-name>
		<url-pattern>/productsearch</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProductController</servlet-name>
		<url-pattern>/productadditem</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdminController</servlet-name>
		<servlet-class>xshop.app.AdminControllerServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AdminController</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>AdminController</servlet-name>
		<url-pattern>/purchases</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminController</servlet-name>
		<url-pattern>/purchasesearch</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>AdminController</servlet-name>
		<url-pattern>/invoicessearch</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HomeController</servlet-name>
		<servlet-class>xshop.app.HomeControllerServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>HomeController</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HomeController</servlet-name>
		<url-pattern>/productview</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HomeController</servlet-name>
		<url-pattern>/productbuy</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HomeController</servlet-name>
		<url-pattern>/viewcart</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HomeController</servlet-name>
		<url-pattern>/cancelorder</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HomeController</servlet-name>
		<url-pattern>/confirmorder</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HomeController</servlet-name>
		<url-pattern>/trackorder</url-pattern>
	</servlet-mapping>
	<welcome-file-list>  
		<welcome-file>Index.jsp</welcome-file>    
	</welcome-file-list>
	
	<context-param>  
		<param-name>baseurl</param-name>  
		<param-value>http://localhost:82/X-shop</param-value>  
	</context-param>
</web-app>
   